#swap-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.swap {
    display: flex;
    width: 100%;
    padding: 1em;
    text-align: center;
    margin-top: 10px;
    h5 {
      font-weight: 500;
    }
    h4 {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
    }
    .swap-token,
    .swap-balance,
    .swap-unlocked {
      white-space: nowrap;
    }
}
  
.body2 {
    align-items: center;
    text-align: center; 
}